@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'CustomFont';
    src: url('/static/website/fonts/theHouse_font.woff2') format('woff2'),
         url('/static/website/fonts/theHouse_font.woff') format('woff'),
         url('/static/website/fonts/theHouse_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

input[type="text"],
input[type="tel"] {
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 30px; /* gives the rounded corners */
  font-size: 16px;
  color: white;
  padding: 15px 20px; /* gives some padding inside the inputs */
  margin: 10px 0; /* adds space between the two inputs */
  width: calc(100% - 40px); /* ensures the input fields do not exceed their parent's width */
  box-sizing: border-box; /* makes sure padding doesn't affect the total width */
  outline: none; /* removes the default focus outline */
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder {
  color: rgba(255, 255, 255, 0.5); /* lighter placeholder text */
}

input[type="text"]:focus,
input[type="tel"]:focus {
  box-shadow: 0 0 10px #FFFFFF; /* adds the glow effect on focus */
}


.header span .red-text {
    color: #9B0000;
    font-family: "CustomFont", sans-serif;
}



@keyframes infinite {
  from { transform: 'translateX(0)';}
  to { transform: 'translateX(-100%)';}
}





#inf-text {
  display: flex;
  align-items: center;
  justify-content: center;

}

#inf-text li {
  margin: 0 20px;
  color: white
}