{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'waitlist/style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <title>theHouse</title>
</head>
<body>

    <div class="header">
        <span>I FOLLOWED THE HOUSE AND IT TOOK ME TO <p id="red-text" class="red-text"></p> </span> 
    </div>

    {% comment %} POPUP FOR USERNAMES ALREADY RESERVED {% endcomment %}
    <div id="popup" class="popup" style="display: none;">
        <div class="popup-inner">
          <p id="popup-message">This is a placeholder message.</p>
          <button id="popup-button" onclick="hidePopup()" class="close-btn">stash another one</button>
        </div>
      </div>


    <div class="main-content">
        <div class="content-wrapper">
            <img src="{% static 'waitlist/logo.png' %}" class="logo-image"/>
            <div class="spacer-small"></div>
            <div class="party-text">YOUR BEST NIGHT</div>
            <div class="party-text">EVERY NIGHT</div>
            <div class="spacer-small"></div>
            <div class="username-info horizontal-padding">drop your email and we'll stash your username 🔥</div>
            <div class="spacer-small"></div>
            <form action="{% url 'thehouse:landing' %}" method="POST" class="user-form">
                {% csrf_token %}
                <div class="form-input">
                    <input type="text" id="username" name="username" placeholder="username you want" required>
                    <input type="email" id="email" name="email" placeholder="tonight@thehouse.com" required>
                </div>
                <div class="spacer-small"></div>
                <div class="spam-info horizontal-padding" >FYI... we know spam sucks</div>
                <div class="spacer-extra-small"></div>
                <div class="hear-from-us-info horizontal-padding">that's why you'll only hear from us when your username is ready</div>
                <div class="consent-message">
                <div class="form-button-container">
                    <button id="submit" class="form-input" type="submit">join the list</button>
                    <div class="spacer-small"></div>
                    By submitting this form, I consent to the <a href="url-to-terms-and-conditions" class="terms-link">Terms & Conditions</a>
                    </div>
                    <span id="submit-text">you've been added to the list.<br>we'll be waiting for you ...</span>
                </div>
            </form>
        </div>
    </div>

    <script>
        const words = ["THE BEST F*$CKING NIGHT OF MY LIFE", "LOVE", "EUPHORIA", "FRIENDS", "MEMORIES", "MADRID", "FREEDOM", "GLORY", "MEETING MY FUTURE WIFE", "THIS NIGHT", "YOU", "THIS MOMENT", "BEING ALIVE", "CALLING MY EX", "GOING OUT TONIGHT", "TONIGHT", "CRAZINESS", "CHAOS"];
        function swapRedText() {
            const redTextElement = document.getElementById('red-text');
            let randomWord = words[Math.floor(Math.random() * words.length)];
            
            while (redTextElement.textContent === randomWord) {
                randomWord = words[Math.floor(Math.random() * words.length)];
            }
            redTextElement.textContent = randomWord;
            
            // Restart the animation
            redTextElement.style.animation = 'none';
            redTextElement.offsetHeight; /* trigger reflow */
            redTextElement.style.animation = null;
        }

        // Swap text every 10 seconds
        setInterval(swapRedText, 12000);

        // Initial swap on page load
        document.addEventListener('DOMContentLoaded', swapRedText);

        function showPopup(message, buttonText) {
            document.getElementById('popup-message').textContent = message;
            document.getElementById('popup-button').textContent = buttonText; 
            document.getElementById('popup').style.display = 'flex';
        }
        
        function hidePopup() {
            document.getElementById('popup').style.display = 'none';
        }
        
        {% if error %}
        document.addEventListener('DOMContentLoaded', function() {
            showPopup("{{ error }}", "{{ button_message }}");
        });
        {% endif %}

    </script>
</body>
</html>