{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the List</title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
</head>
<body>
    <div class="sticky-header">
        <h2>I FOLLOWED theHouse AND IT TOOK ME TOO <span id="red-text" class="red-text">FREEDOM</span></h2>
    </div>

    <div class="container">
        <main>
            <header>
                <img class="header-logo" src="{% static 'logo/logo.png' %}" alt="Logo">
            </header>
            <h1>don't miss the party</h1>
            <p>drop your phone # to reserve your username and we’ll text you when it’s ready 🔥</p>
            <form action="#" method="POST">
                <div class="form-input">
                    <input type="text" id="username" name="username" placeholder="username you want">
                    <input type="text" id="phone" name="phone" placeholder="(678) 999-8212">
                    <button class="form-input" type="submit">join the list</button>
                </div>
                <p>FYI – your phone number is used for account updates, not spam. promise 🚀</p>
                
            </form>
            <div class="extra-links">
                <a href="#">signed up already?</a>
                <a href="#">check your spot & invite friends</a>
            </div>
        </main>
        <footer>
            <a href="#">terms of service</a>
            <a href="#">privacy policy</a>
            <a href="#">community rules</a>
            <a href="#">contact us</a>
        </footer>
    </div>
</body>
</html>


<script>
    const words = ["THE BEST F*$CKING NIGHT OF MY LIFE", "LOVE", "EUPHORIA", "FRIENDS", "MEMORIES", "MADRID", "FREEDOM", "GLORY", "MEETING MY FUTURE WIFE", "THIS NIGHT", "YOU", "THIS MOMENT", "BEING ALIVE", "CALLING MY EX", "GOING OUT TONIGHT", "TONIGHT", "CRAZINESS", "CHAOS"];
    function swapRedText() {
        const redTextElement = document.getElementById('red-text');
        let randomWord = words[Math.floor(Math.random() * words.length)];
        
        while (redTextElement.textContent === randomWord) {
            randomWord = words[Math.floor(Math.random() * words.length)];
        }
        redTextElement.textContent = randomWord;
        
        // Restart the animation
        redTextElement.style.animation = 'none';
        redTextElement.offsetHeight; /* trigger reflow */
        redTextElement.style.animation = null;
    }

    // Swap text every 10 seconds
    setInterval(swapRedText, 2000);

    // Initial swap on page load
    document.addEventListener('DOMContentLoaded', swapRedText);
</script>